<h2>Update a Task:</h2>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :done %>
  <%= f.submit class: "btn btn-outline-secondary btn-sm" %>
<% end %>
