<h2>Tasks To do:</h2>

<table class="table table-bordered">
  <tbody>
    <% @tasks.each do |task| %>

      <% if task.done %>
        <tr class="table-secondary">
          <td class="striker"><%= link_to task.name, edit_task_path(task) %></td>
          <td><%= task.description %></td>
          <td>
            <center>
              <%= link_to "#", class: 'btn btn-info', data: { reflex: 'click->Task#mark_incomplete', id: task.id } do %>
                <i class='fas fa-check'></i>
              <% end %>
            </center>
          </td>
          <td>
            <center>
              <%= link_to "Remove", task_path(task), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
            </center>
          </td>
        </tr>

      <% else %>

        <tr>
          <td><%= link_to task.name, edit_task_path(task), class: "btn btn-light" %></td>
          <td><%= task.description %></td>
          <td>
            <center>
              <%= link_to "#", class: 'btn btn-dark', data: { reflex: 'click->Task#mark_complete', id: task.id } do %>
                <i class='fas fa-times'></i>
              <% end %>
            </center>
          </td>
          <td>
            <center>
              <%= link_to "Remove", task_path(task), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
            </center>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<p><%= link_to "Create a new task", new_task_path, class: "btn btn-outline-secondary btn-sm" %></p>
